@media (min-width: 992px)

    .search
        &__button
            &:hover
                background-color: #E32636

    .navbar
        &-menu
            &__link
                &:hover
                    color: #b3b3b3

    .hotel
        &-info
            &__text
                &-return
                    &:hover
                        background-color: #1A153F

    .booking
        &__button
            &:hover
                background-color: #E32636
    .subscribe
        &-search
            &__button
                &:hover
                    background-color: #E32636
    .fun
        &-block
            &__button
                &:hover
                    background-color: #E32636
    .footer
        &-contacts
            &__text
                &-a
                    &:hover
                        color: #666666
            &__text
                &-email
                    font-weight: normal
                    font-size: 14px
                    line-height: 160%
                    color: #BDBDBD
                    text-decoration: none
                    &:hover
                        color: #666666
        &-forms
            &__button
                &:hover
                    background-color: #E32636
        &-block
            &-item
                &:hover
                    color: #666666
            &-bottom
                &-nav
                    &__button
                        &:hover
                            color: #666666

@media (max-height: 500px) and (orientation: landscape)
    .modal
        &__dialog
            height: 0px
            overflow: scroll
        &__close
            padding-top: 40px
        &-form
            height: 537px
            overflow: scroll
            &__text
                padding-top: 40px
@media (max-width: 1200px)
    .container, .hotel-grid
        width: 950px
    .hotel-grid
        display: flex
        flex-wrap: wrap
    .slider
        display: flex
        flex-wrap: wrap
        flex-basis: 100%
        max-width: 570px
    .swiper
        &-container
            height: 450px
    .booking
        margin-top: 0
    .google-map
        position: absolute
        top: 0
        right: 0
        margin-top: 240px
    .reviews
        &-slider
            height: 100%
        &-btns
            &__button
                &_next
                    margin-right: -750px
                &_prev
                    margin-right: 1050px
    .fun
        flex-wrap: nowrap
        flex-shrink: 1
        &-block
            width: 210px
            height: 210px
            &__text
                &-fourth
                    width: 170px

    .footer
        &-block
            grid-template-columns: 0.32fr 0.41fr 0.35fr
            &__categories
                grid-row: 4 / 5
                grid-column: auto
            &__additional
                display: grid
                grid-row: 4 / 5
            &-list
                grid-column: 1 / 4
            &__social
                align-content: start
                grid-row: 2 / 3
                grid-column: 2 / 4
                width: 300px
            &__legal
                grid-row: 4 / 5
                grid-column: 3 / 5
            &__title--additional
                margin-bottom: 7px
            &-list
                margin-top: 0
                grid-row: 2 / 6
@media (max-width: 1002px)
    .container, .hotel-grid
        width: 740px
    .header
        &-logo
            &__image
                width: 132px
        &__search
            margin-left: 47px
    .navbar
        &-menu
            &__link
                font-size: 12px
                line-height: 15px
                font-weight: bold
    .user
        &__name
            font-weight: normal
            font-size: 14px
            line-height: 18px
    .hotel
        &-slider
            height: 480px
    .booking
        margin-top: 20px
        max-width: 360px
        height: 210px
        margin-left: 0
        &__button
            width: 310px
            flex-wrap: nowrap

    .slider
        max-width: 100%
        flex-basis: 50%

    .hotel
        &-slider
            width: 100%
            height: 410px

    .google-map
        width: 360px
        height: 220px
        top: 190px
        right: 0
        &__card
            width: 300px
            height: 210px

    .subscribe
        &-search
            &__input
                width: 370px
        &-block
            &__title
                font-weight: 400
                font-size: 36px
                line-height: 45px
                letter-spacing: 1.5px

    .fun
        flex-wrap: nowrap
        flex-shrink: 1
        &-block
            width: 49%
            height: 265px
            &__text
                &-fourth
                    width: 200px
        &__text
            margin-top: 110px
        &-wrap
            flex-wrap: wrap
            &__first
                margin-right: 10px
            &__second
                margin-right: 0px
            &__third
                margin-right: 0px

    .reviews
        &-slider
            width: 650px
        &-title
            font-weight: bold
            font-size: 30px
            line-height: 38px
        &-slide
            &__item
                width: 579px
            &__text
                width: 455px
        &-btns
            &__button
                &_next
                    margin-right: -350px
                &_prev
                    margin-right: 1100px

    .footer
        &-block
            grid-template-columns: 0.32fr 0.45fr 0.35fr
            &__logo
                max-width: 104px
                align-content: center
                grid-row: 1 / 4
            &__social
                align-content: center
            &-bottom
                &-nav
                    justify-content: space-between
                    &__buttons
                        margin-right: 0
        &-forms
            &__input
                &-group
                    flex-basis: 100%
                    margin-bottom: 10px
            &__message
                margin-top: 0

    .modal
        &__dialog
            max-width: 430px
            padding-right: 65px
            padding-left: 65px
        &-forms
            &__buttons
                flex-wrap: wrap
            &__button
                flex-basis: 100%
                margin-bottom: 10px

@media (max-width: 768px)
    .container, .hotel-grid
        width: 650px
    .hotel
        padding-bottom: 56px
        &-name
            margin-top: 0
        &-grid
            margin-right: 0

    .header
        &-top
            padding-bottom: 28px

    .search__input
        width: 310px

    .mobile-menu
        display: none
    .slider
        max-width: 100%
    .swiper
        &-container
            height: 422px
    .price
        &__quick
            font-size: 17px

    .navbar
        padding-top: 20px
        padding-bottom: 20px
        &-menu
            &__link
                letter-spacing: -0.2px
                font-weight: 300
                font-size: 12px
                line-height: 15px

    .booking
        max-width: 320px
        margin-right: 10px
        &__button
            width: 230px
            height: 45px
            flex-wrap: nowrap
            font-weight: 600
            font-size: 12px
            line-height: 19px
            &-text
                width: auto

    .google-map
        width: 300px
        height: 220px
        right: 0
        top: 205px

    .subscribe
        background-image: url(../img/bg-image.jpg)
        height: 246px
        max-width: 100%
        position: relative
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        background-color: transparent // Делает прозрачный бэкграунд
        &-container
            display: flex
            align-items: flex-end
            flex-wrap: wrap
            width: 85%
        &-block
            width: 220px
            display: block
            //flex-basis: 100%
            &__subtitle
                font-size: 20px
                margin-bottom: 5px
            &__title
                flex-wrap: wrap
                font-size: 30px
        &-search
            margin-top: 7px
            &__input
                width: 330px

    .reviews
        margin-bottom: 0
        &-title
            letter-spacing: -1px
            margin-bottom: 30px
        &-slider
            width: 579px
        &-slide
            &__text
                width: 455px
        &-btns
            display: none

    .fun
        margin-bottom: 34px
        &__text
            margin-top: 30px
            font-size: 24px
            line-height: 30px
            letter-spacing: -0.6px
        &-block
            height: 242px

    .footer
        padding-top: 0px
        &-form
            margin-top: 60px
        &-block
            margin-bottom: 30px
            &__logo
                width: 90px
            &-bottom
                flex-wrap: wrap
                &-nav
                    margin-top: 46px
            &__title
                font-size: 14px
        &-forms
            max-width: 510px
            &__input
                &-group
                    flex-basis: 48%
            &__label
                display: flex
                justify-content: end
                margin-left: 20px
                flex-basis: 100%
            &__button
                flex-basis: 43%
                font-size: 12px
                line-height: 15px

        &-contacts
            width: 100%
            display: flex
            flex-wrap: wrap
            flex-shrink: 1
            flex-basis: 100%

    .modal
        &__dialog
            max-width: 430px
            padding-right: 45px
            padding-left: 45px

@media (max-width: 767px)
    .container
        width: 580px

    body
        padding-top: 89px

    .hotel
        &-name
            flex-basis: 100%
            margin-top: 10px
            margin-bottom: 0
        &-wrapper
            justify-content: space-between
        &-grid
            margin-left: 0
            margin-right: 0
        &-info
            &__text
                width: 100%
            &__stars
                flex-basis: 50%
                flex-basis: content
            &__rating
                display: none
            &__offer
                order: -1
                margin-right: 0

    .header--mobile_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99

    .navbar
        display: none
        position: fixed
        left: 0
        right: 0
        bottom: 0
        top: 85px
        z-index: 100
        &--visible
            display: block
        &-menu
            flex-direction: column
            align-items: center
            &__item
                margin-bottom: 20px

    .header__search, .header__user
        &--mobile
            &_hidden
                display: none

    .navbar__search, .navbar__user, .navbar-menu__item
        &--mobile
            &_hidden
                display: flex
            &_visible
                display: flex

    .mobile-menu
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        cursor: pointer
        width: 16px
        height: 11px
        border: none
        &__line
            width: 16px
            height: 1px
            background-color: #000000

    .user
        &__name
            padding-top: 10px
            padding-left: 0
            color: #fff
    .navbar
        &--visible
            overflow: scroll
        &__user
            flex-direction: column
            align-items: center

    .header
        &-logo
            &__image
                width: 177px
    .reviews
        &-slider
            width: 90%

        &-slide
            &__text
                width: 85%
            &__item
                padding-bottom: auto

        &-title
            font-size: 30px

    .reviews-slide
        overflow: hidden

    .hotel
        &-grid
            width: 100%

    .fun
        &-block
            width: 339px
            height: 255px
            &__first
                background-image: url(../img/cart-1-adaptive.png)
                background-repeat: no-repeat
                background-position: center
            &__second
                background-image: url(../img/cart-2-adaptive.png)
                background-repeat: no-repeat
                background-position: center
            &__third
                background-image: url(../img/cart-3-adaptive.png)
                background-repeat: no-repeat
                background-position: center
            &__fourth
                background-image: url(../img/cart-4-adaptive.png)
                background-repeat: no-repeat
                background-position: center

    .fun
        flex-wrap: nowrap
        flex-shrink: 1
        &-block
            width: 100%
            height: 300px

    .slider
        max-width: 580px

    .booking
        max-width: 580px
        width: 580px
        margin-right: 10px
        margin-bottom: 300px
        &__button
            width: 530px
            max-width: 530px
            height: 45px
            flex-wrap: nowrap
            font-weight: 600
            font-size: 12px
            line-height: 19px

    .google-map
        width: 580px
        height: 320px
        right: 0px
        top: 435px
        &-settings
            max-width: 580px
            width: 580px
            height: 320px

    .footer
        &-form
            margin-top: 60px
        &-forms
            &__username
                flex-basis: 45%
            &__phone
                flex-basis: 45%
                margin-top: 0
            &__label
                margin-left: 20px
            &__input
                &-group
                    flex-basis: 48%
                    margin-bottom: 0
            &__message
                margin-top: 15px
        &-block
            grid-template-columns: 0.5fr 0.5fr
            &__social
                grid-column: 2 / 8
            &-item
                font-size: 14px
            &-bottom
                display: flex
                flex-wrap: wrap
            &__legal
                grid-row: 5 / 6
                grid-column: 1 / 2

        &-contacts
            width: 100%
            display: flex
            flex-wrap: wrap
            flex-shrink: 1
            flex-basis: 100%

    .modal
        &__dialog
            width: 90%

@media ( max-width: 607px)
    .container
        width: 480px

    .slider
        max-width: 100%

    .booking
        width: 100%
        max-width: 100%
        &__button
            width: 100%

    .google-map
        width: 100%
        height: 320px
        right: 0px
        top: 435px
        &-settings
            max-width: 100%
            width: 100%
            height: 320px

    .footer
        &-forms
            &__input-group
                flex-basis: 100%
                margin-bottom: 7px
            &__input-group
                flex-basis: 100%
            &__message
                margin-top: 5px

@media ( max-width: 577px)
    .footer
        &-block
            &__social
                grid-column: 2 / 3
                &-icons
                    grid-column: 1 / 2
                    margin-top: 22px
    .reviews
        &-title
            font-weight: bold
            font-size: 25px
            line-height: 23px
            margin-bottom: 43px

    .google-map
        top: 670px
        margin-top: 0

@media (max-width: 500px)
    .container
        width: 87%
    .header
        &-logo
            &__image
                width: 130px
    .booking
        max-width: 112.3%
        &__button
            padding-right: 17%
            padding-left: 17%

    .hotel
        &-slider
            height: 179px

    .reviews
        &-title
            font-size: 22px

    .search
        &__input
            width: 280px

    .google-map
        top: 435px

    .footer
        &-block
            &__social
                width: 100%
                grid-column: 2 / 3
            &__categories
                grid-row: 8 / 8
            &__additional
                grid-row: 5 / 8
                grid-column: 1 / 3
            &__legal
                grid-row: 4 / 5
                grid-column: 1 / 2
            &-bottom
                &-nav
                    flex-wrap: wrap
                    &__buttons
                        margin-bottom: 10px

@media (max-width: 320px)
    .container
        width: 85%
    .header
        &-logo
            &__image
                width: 99px

    .breadcrumb
        &-list
            padding-top: 11px
            letter-spacing: -0.55px
            font-size: 10px
            line-height: 13px

    .hotel
        &-slider
            width: 3020px
            height: 179px

    .booking
        height: 210px
        padding-top: 28px
        &__button
            height: 45px
            width: 100%
            flex-basis: 97%
            padding: 0

    .room
        &__phone
            padding-top: 13px
        &__home
            padding-bottom: 4px
        &__text
            font-size: 10px
            line-height: 16px

    .price
        &__tag
            font-size: 24px
            line-height: 33px
        &__night
            margin-top: -6px
        &__quick
            padding-top: 12px
            width: 120px

    .hotel
        padding-top: 16px
        padding-bottom: 0
        height: 786px
        &-info
            padding-bottom: 40px
            &__offer
                padding-top: 4px
                padding-bottom: 4px
                padding-left: 10px
                padding-right: 10px
            &__star
                margin-right: -3px
        &-name
            margin-right: 0
            font-size: 24px
            line-height: 30px
            margin-top: 6px
        &-grid
            width: 280px
            height: 640px
        &-wrapper
            width: 269px

    .booking
        max-width: 112.3%
        padding-right: 18px
        padding-left: 20px

    .google-map
        top: 426px
        height: 170px
        &-settings
            height: 170px

    .subscribe
        height: 319px
        &-block
            &__subtitle
                margin-bottom: 7px
            &__title
                padding-bottom: 25px
                font-weight: 600
                font-size: 30px
                line-height: 38px
                letter-spacing: normal
        &-search
            margin-top: 10px
            width: 280px
            &__input
                height: 55px
                width: 280px
                padding-right: 0
            &__button
                height: 55px

    .reviews
        &-title
            letter-spacing: 0px
            margin-top: 25px
            font-size: 19px
            line-height: 23px
            text-align: center

    .fun
        margin-bottom: 54px
        &-block
            margin: 0
            margin-top: 20px
            width: 280px
            max-width: 280px
            height: 255px
            &__button
                width: 90px
                font-size: 11px
                line-height: 16px
        &-wrap
            width: 280px
            &__third
                margin-top: 28px
                margin-bottom: 3px
        &__text
            font-weight: bold
            letter-spacing: 0px
            font-size: 18px
            line-height: 23px
            margin-bottom: 14px
            margin-top: 88px

    .footer
        padding-top: 64px
        &-contacts
            width: 240px
            margin-top: 16px
            margin-right: 0
            &__subtitle
                font-size: 14px
                line-height: 160%
                margin-bottom: -6px
                margin-bottom: 26px
            &__title
                margin-top: -31px
                letter-spacing: 0px
                margin-bottom: 23px
            &__text
                letter-spacing: 0px
                max-width: 220px
                flex-basis: 100%
                flex-shrink: 1
                font-size: 14px
                line-height: 160%
            &__icon

                margin-top: 0
            &__photo
                margin-right: 8px
        &-block
            &__title
                letter-spacing: 0px
                font-weight: bold
                font-size: 18px
                line-height: 23px
                &--additional
                    margin-bottom: 19px
            &__legal
                margin-top: 18px
                margin-bottom: 8px
            &__additional
                margin-bottom: 0px
            &__categories

            &__logo
                grid-row: 1 / 2
                margin-bottom: -20px
            &__social
                grid-column: 1 / 2
                grid-row: 3 / 3
                margin-bottom: 50px
                font-size: 18px
                line-height: 23px
                letter-spacing: 0px
                margin-bottom: 7px
                margin-top: -13px
                &-a
                    text-decoration: none
                &-fb
                    margin-right: 7px
                &-yt
                    margin-right: 5px
                &-icons
                    margin-top: 17px
                &-text
                    width: 200px
            &-item
                margin-bottom: 1.5px
            &-bottom
                &-icons
                    background-color: transparent
                &-icon
                    margin-left: 5px
                    margin-right: 5px
                &-nav
                    margin-top: 28px
                    &__buttons
                        margin-bottom: 5px
                    &__button
                        margin-right: 8px
                        font-size: 11px
                        line-height: 15px
        &-form
            margin-top: 47px
            letter-spacing: 0px
            &__text
                margin-bottom: 10px
                margin-top: 13px
        &-forms
            width: 300px
            &__buttons
                flex-direction: column-reverse
                align-items: flex-start
            &__button

                min-height: 50px
            &__label
                margin: 0
                margin-top: -9px
                margin-bottom: 12px
                font-size: 12px
                line-height: 15px
                letter-spacing: 0px
            &__input-group
                flex-basis: 94%
                margin-bottom: 15px
                font-size: 12px
                line-height: 15px
            &__message
                flex-basis: 94%
                min-height: 123px
                margin-bottom: 0
                font-size: 12px
                line-height: 15px
