.footer
    background-color: #0A223D
    padding-top: 108px
    padding-bottom: 46px
    &-block
        display: grid
        grid-template-columns: 0.25fr 0.27fr 0.30fr 0.20fr
        grid-column-gap: 20px
        &-item
            font-weight: normal
            font-size: 14px
            line-height: 160%
            color: #BDBDBD
            list-style: none
        &-list
            padding: 0
        &__logo
            display: grid
            max-width: 166px
            align-items: center
        &__title
            color: #fff
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-transform: uppercase
            margin-top: 0
        &__social
            display: flex
            &-text
                font-weight: bold
                font-size: 18px
                line-height: 23px
                color: #fff
                text-transform: uppercase
                margin-right: 41px
            &-fb
                margin-right: 10px
            &-yt
                margin-right: 10px
