.reviews
    margin-bottom: 70px
    overflow: hidden
    position: relative
    &-btns
        width: 1110px
        margin: auto
        display: flex
        justify-content: center
        &__button
            position: absolute
            outline: none
            width: 30px
            top: 62%
            transform: translateY(-50%) // Корректирует размеры кнопок по середине
            z-index: 99
            height: 30px
            border: none
            cursor: pointer
            background-repeat: no-repeat
            background-position: center
            background-size: 10px
            background-color: transparent
            &_next
                margin-right: -1000px
                background-image: url(../img/arrow-right-reviews.svg)
            &_prev
                margin-right: 1000px
                background-image: url(../img/arrow-left-reviews.svg)
    &-title
        display: flex
        justify-content: center
        align-items: center
        font-weight: bold
        font-size: 36px
        line-height: 45px
        text-align: center
        text-transform: uppercase
    &-slider
        width: 731px
        min-height: 325px
        overflow: hidden
        //background-color: #fff
        position: relative
        &__item
            overflow: hidden
    &-slide
        display: flex
        justify-content: center
        cursor: pointer
        position: relative
        &__item
            display: flex
            flex-direction: column
            align-items: center
            padding-bottom: 30px
            margin-top: 50px
            background-color: #fff
            width: 100%
            border-radius: 8px
            position: relative
            &::before
                content: ''
                position: absolute
                top: 13px
                left: 62px
                z-index: 1
                background-image: url(../img/quota-left.svg)
                width: 70px
                height: 48px
                background-repeat: no-repeat
                background-position: center
                background-color: transparent
            &::after
                content: ''
                position: absolute
                top: 118px
                right: 60px
                z-index: 1
                background-image: url(../img/quota-right.svg)
                width: 70px
                height: 48px
                background-repeat: no-repeat
                background-position: center
                background-color: transparent

        &__profile
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            margin-top: -45px
        &__username
            font-weight: bold
            font-size: 12px
            line-height: 15px
            color: #EC1F46
        &__image
            border-radius: 50%
            width: 90px
            height: 90px
            object-fit: cover
        &__date
            font-weight: normal
            font-size: 10px
            line-height: 13px
        &__stars
            padding-bottom: 30px
        &__text
            max-width: 537px
            font-weight: normal
            font-size: 12px
            line-height: 160%
            text-align: justify
